
@import url(variables.css);
body {
  background-color: red;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,p,button {
  font-size: 1em;
  line-height: 1.1;
  padding: 10px;
  
  
}
#card{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 7%;
  height: 20%;
  margin: 20px;
  padding: 50px;
  overflow: hidden;
  background-color: aliceblue;
  border-color: var(--bordercoler);
  border-radius: var(--radius);
  border-style: var(--style);
  border-width: var(--bwidth);
  
}

#container{
  background-color: var(--mainbgcolor);
  height:1000px;
  width:100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

img{
  width:100px;
  height:100px;
  border-color: var(--bordercoler);
  border-width: var(--bwidth);
  border-style:var(--style)
}