
@import url(variables.css);
body {
  background-color: var(--mainbgcolor);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,p,button {
  font-size: 1em;
  line-height: 1.1;
  padding: 10px;
  
  
}
.card{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 7%;
  height: 20%;
  margin: 20px;
  padding: 50px;
  overflow: hidden;
  background-color: var(--primary);
  border-color: var(--secondary);
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  
} 


#container{
  background-color: var(--mainbgcolor);
  height:1250px;
  width:auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

img{
  width:130px;
  height:130px;
  border-color: var(--secondary);
  border-width: 3px;
  border-style: solid;
}